openapi: 3.0.0
info:
  title: User Authentication API
  description: API for user registration and authentication
  version: 1.0.0
servers:
  - url: https://server.com
    description: Main server

paths:
  /auth/signup:
    post:
      summary: User Registration
      requestBody:
        description: Data for user registration
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: email@gmail.com
                password:
                  type: string
                  example: password
                confirm_password:
                  type: string
                  example: password
      responses:
        "200":
          description: Successful registration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      signup:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Signed up successfully.
                          access_token:
                            type: string
                            example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                          id_token:
                            type: string
                            nullable: true
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            type: integer
                            example: 86400
                          user:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 9139c73e-48bf-4819-bbd2-47c7c516c3ed
                              email:
                                type: string
                                example: email@gmail.com
                              email_verified:
                                type: boolean
                                example: true
                              signup_methods:
                                type: string
                                example: basic_auth
                              preferred_username:
                                type: string
                                example: email@gmail.com
                              gender:
                                type: string
                                nullable: true
                              birthdate:
                                type: string
                                nullable: true
                              roles:
                                type: array
                                items:
                                  type: string
                                  example: user
                              created_at:
                                type: integer
                                example: 1717940950
                              updated_at:
                                type: integer
                                example: 1717940950

  /auth/signin:
    post:
      summary: User Authentication
      requestBody:
        description: Data for user authentication
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: email@gmail.com
                password:
                  type: string
                  example: password
      responses:
        "200":
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      login:
                        type: object
                        properties:
                          message:
                            type: string
                            example: Logged in successfully
                          access_token:
                            type: string
                            example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                          id_token:
                            type: string
                            example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            type: integer
                            example: 86400

  /user/profile:
    get:
      summary: Retrieve User Profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful retrieval of user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      profile:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 8bc637c0-0e37-45de-ae4f-2e3e5a45709d
                          email:
                            type: string
                            example: yarmolchuk3@gmail.com
                          nickname:
                            type: string
                            nullable: true
                          preferred_username:
                            type: string
                            example: yarmolchuk3@gmail.com
                          gender:
                            type: string
                            nullable: true
                          birthdate:
                            type: string
                            nullable: true
                          created_at:
                            type: integer
                            example: 1717940823
                          updated_at:
                            type: integer
                            example: 1717940823

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
